/* *{
    border: red solid 1px;
} */

@import url('https://fonts.googleapis.com/css2?family=Kode+Mono&display=swap');

body{
    display: flex;
    border: black solid 3px;
    flex-direction: column;
}


/*
Header Section
*/

.header_container {
    display:flex;
    flex-direction: column;
    height:20%;
    /* border: red solid 1px; */
}

.header_banner{
    /* border: blue solid 1px; */
    display: flex;
    justify-content: space-between;
    height: 80%;
    font-size: 22px;
}


.header_banner_item{
    /* border: green solid 1px; */
    align-self: center;
}

#SkantronLogo{
    height: 40px;
    width: 40px;
}

.header_links{
    font-size: 18px;
    align-self: center;
    padding: 2%;
}


/*
Calculator Section
*/


.calculator_container{
    padding: 50px;
    display: flex;
    /* border: blue solid 1px; */
    height:80%;
    justify-content: center;
    
}

.calculator_frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 350px;
    /* border:10px 10px rgb(9, 37, 70); */

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: rgb(13, 70, 134);
    box-shadow: 10px 4px 10px rgba(37, 36, 36, 0.466),
    4px 4px rgb(81, 114, 150);
    border: 2px solid rgb(2, 54, 112);
}

.calculator_top_40{
    display:flex;
    flex-direction: column;
    height: 35%;
    justify-content: space-between;
    align-items: center;

}

#calculator_top{
    
    width: 100%;
    height: 10%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: rgb(18, 76, 141);
    box-shadow: 1px rgb(10, 56, 107) solid;
    /* background: grey; */

}

.calculator_display{
    display: flex;
    width: 80%;
    height: 25%;
    border-radius: 5px;
    background: lightgray;
    justify-content: center;
    align-items: center;
    box-shadow: inset 1px 1px rgba(22, 22, 22, 0.466);
}

#calculator_display_inner{
    display: flex;
    width: 95%;
    height: 90%;
    border-radius: 5px;
    background: grey;
    /* outline: 3px solid rgba(29, 31, 29, 0.342);
    outline-offset: -3px; */
    box-shadow: inset 3px 3px rgba(22, 22, 22, 0.466);
    color: black;
    justify-content: flex-end;
    align-content: center;
}

#calculator_display_inner_text{ 
    font-family: 'Kode Mono', sans-serif;
    font-size: 32px;
    text-shadow: 2px 1px rgba(22, 22, 22, 0.466);
    padding-right: 5px;
    align-self:flex-end;

}

.calculator_title{
    display: flex;
    width: 350px;
    height: 35%;
    /* background: grey; */
    justify-content: space-between;
    background-color: rgb(18, 76, 141);
    box-shadow: 1px rgb(10, 56, 107) solid; 
    border: 2px solid rgb(2, 54, 112)
}

.calculator_title_name_and_power{
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(18, 76, 141);
    box-shadow: 1px rgb(10, 56, 107) solid;
    padding-left: 10px;
    
}

#calculator_title_name{
    display: flex;
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: -1px;
    font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
    color: white;
    justify-content: center;
    
    
}

#calculator_title_model{
    padding-right: 10px;
    font-size: 32px;
    font-weight: bolder;
    letter-spacing: -2px;
    font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
    color: white;
    width: 35%;
    display:flex;
    justify-content: center;
}

.calculator_power{
    margin-right: 30%;
    display: flex;
    width: 60%;
    height: 60%;
    background-color: grey;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: inset 2px 2px rgba(0, 0, 0, 0.438);
}

#calculator_power_cell{
    height: 94.5%;
    width: 23.5%;

    background-color: rgb(58, 57, 57);
}


#calculator_mid_spacer{
    height: 3%;
}



.calculator_button_container{
    display: flex;
    height: 60%;
    width: 90%;
    /* border: 1px red solid; */
    justify-content: space-between;
}

.calculator_button_container_left{
    display: flex;
    /* border: 1px red solid; */
    flex-direction: column;
    justify-content: space-between;
    width: 65%;
}

.calculator_button_container_right{
    display: flex;
    /* border: 1px red solid; */
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
}


.calculator_button_container_right_class{
    height: 65px;
    width: 100%;
    color: white;
    background-color: rgb(226, 48, 24);
    border-radius: 10px;
    font-size: 32px;
    border-style: inset;
    box-shadow: 3px 2px 3px 0px #000000;
}
.calculator_button_container_right_class:active{
    height: 65px;
    width: 100%;
    color: white;
    background-color: rgb(182, 41, 22);
    border-radius: 10px;
    font-size: 32px;
    box-shadow: inset 3px 2px 3px 0px #000000;
    padding-right: 1px;
    padding-top: 3px;
}
.calculator_button_container_right_class:hover{
    background-color: rgb(182, 41, 22);
}


.calculator_button_container_left_class{
    width: 65px;
    height: 65px;
    color: rgb(18, 76, 141);
    background-color: rgb(230, 221, 221);
    border-radius: 10px;
    font-size: 30px;
    font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
    border-style: inset;
    box-shadow: 3px 1px 3px 0px #000000;
    align-content: center;

}
.calculator_button_container_left_class:active{
    width: 65px;
    height: 65px;
    color: rgb(18, 76, 141);
    background-color: rgb(146, 141, 141);
    border-radius: 10px;
    font-size: 30px;
    border-style: none;
    box-shadow: inset 3px 1px 3px 0px #000000, 
    inset 3px 1px 5px 0px #000000;
    padding-right: 1px;
    padding-top: 3px;
}
.calculator_button_container_left_class:hover{
    background-color: rgb(187, 181, 181);
}



#zero_button{
    width: 135px;
}

#back_button{
    font-size: 36px;
    font-weight: bolder;
}

#calculator_bottom_spacer{
    height: 3%;
}

#plus_minus_button{
    letter-spacing: -2px;
}